<div data-options="dxView : { name: 'Menu', title:'Thuc Don', toolbar: false } ">
    <div data-bind="dxCommand: { title: '', id: 'rightmenu', 'icon':'cart', elementAttr:{'id':'giodunghang',class:'btnstyle2'}, onExecute:cartHandler}"></div>
    <div data-bind="dxCommand: { title: '', id: 'overflow' , elementAttr:{class:'logoutmenu',id:'buttonlogout'}, onExecute:function(s,e){logoutmenu(s,e);}}"></div>
    <div  data-options="dxContent : { targetPlaceholder: 'content' } ">

            <div id="dxScrollView_food" data-bind="dxScrollView: { onReachBottom:onReachBottomMenu}">
                <!--https://weblog.west-wind.com/posts/2014/Feb/22/Using-CSS-Transitions-to-SlideUp-and-SlideDown
                    https://bashooka.com/coding/35-cool-floating-action-button-animations/
                https://speckyboy.com/free-shopping-cart-css-javascript/-->


                <div class="sp-container">
                    <div id="cbp-pgcontainer" class="cbp-pgcontainer">
                        <ul class="cbp-pggrid">
                            <li>
                                <div class="cbp-pgcontent">
                                    <span class="cbp-pgrotate">Rotate Item</span>
                                    <div class="cbp-pgitem">
                                        <div class="cbp-pgitem-flip">
                                            <img draggable="false" src="https://images.foody.vn/res/g73/723823/prof/s280x175/foody-upload-api-foody-mobile-hmmmmmmmmmm-jpg-180313160817.jpg" />
                                            <img draggable="false" src="https://tympanus.net/Blueprints/ProductGridLayout/images/2_back.png" />
                                        </div>
                                    </div><!-- /cbp-pgitem -->
                                    <ul class="cbp-pgoptions">
                                        <li class="cbp-pgoptsize" data-bind="click: getDS">Compare</li>
                                        <li class="cbp-pgoptfav" data-bind="click: scrollRelease">Favorite</li>
                                        <li class="fa fa-gift">
                                        </li>
                                        <li class="cbp-pgoptcolor"></li>
                                        <li class="cbp-pgoptcart" data-bind="click: and2Cart"></li>
                                    </ul>
                                </div>
                                <div class="cbp-pginfo">
                                    <h3>Nature Lover</h3>
                                    <span class="cbp-pgprice">$19</span>
                                </div>
                            </li>
                            <li>
                                <div class="cbp-pgcontent">
                                    <span class="cbp-pgrotate">Rotate Item</span>
                                    <div class="cbp-pgitem">
                                        <div class="cbp-pgitem-flip">
                                            <img draggable="false" src="https://images.foody.vn/res/g79/787948/prof/s280x175/foody-upload-api-foody-mobile-hmnnn-jpg-181017103234.jpg" />
                                            <img draggable="false" src="https://images.foody.vn/res/g75/740825/prof/s280x175/foody-upload-api-foody-mobile-foody-upload-api-foo-180516140606.jpg" />
                                        </div>
                                    </div><!-- /cbp-pgitem -->
                                    <ul class="cbp-pgoptions">
                                        <li class="cbp-pgoptsize"><span style="position: absolute;bottom: 0px;line-height: normal;width: 100%;font-size: small;">2</span></li>
                                        <li class="cbp-pgoptfav">3</li>
                                        <li class="fa fa-gift">
                                            <div style="position: absolute;height: 500px;width: 100%;">
                                                <i class="cbp-gift fa fa-gift fa-pulse ongift">-30%</i>
                                            </div>
                                        </li>
                                        <li class="cbp-pgoptcolor"></li>
                                        <li class="cbp-pgoptcart" data-bind="click: and2Cart"></li>
                                    </ul><!-- cbp-pgoptions -->
                                </div><!-- cbp-pgcontent -->
                                <div class="cbp-pginfo">
                                    <h3>Save my trees</h3>
                                    <span class="cbp-pgprice">$19</span>
                                    <span class="cbp-pgprice" style="text-decoration: line-through;color:red;float:right">22.000</span>
                                </div>
                            </li>
                            <li class="chew-cell--ghost"></li>
                            <li class="chew-cell--ghost">13</li>
                            <li class="chew-cell--ghost">14</li>
                        </ul><!-- /cbp-pggrid -->
                    </div><!-- /cbp-pgcontainer -->
                </div>
            </div>

    </div>
</div>