._grid {
    text-align: justify !important;
    text-justify: distribute-all-lines;
    font-size: 0 !important;
    text-rendering: optimizespeed;
}

._column {
    font-size: medium;
    text-align: left;
    text-rendering: optimizeLegibility;
}

._btn {
    display: inline-block;
    background-color: #bdc3c7;
    border: none;
    padding: .5em .75em;
    text-align: center;
    font-weight: 300;
}

    ._btn:hover,
    .cart-totals:hover ._btn {
        background-color: #3498db;
        color: #ecf0f1;
    }

.shopping-cart {
    width: 90%;
    max-width:1000px;
    max-width: 60rem;
    margin: 0 auto;
}

.shopping-cart--list-item {
    border: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    overflow: hidden;
    position:relative;
}

    .shopping-cart--list-item:hover,
    .shopping-cart--list-item:hover * {
        border-color: #3498db;
    }


.sanpham-image {
    width: 280px;
    height:170px;
    padding:10px;
}
    .sanpham-image div {
        height:100%;
    }
        .sanpham-image img {
            max-height:100%;
            max-width:100%;
        }

.sanpham-info {
    /*float:left;*/
    width: calc(100% - 400px);
    position:absolute;
    left:300px;
    top:0px;
    bottom:0px;
}

.sanpham-name {
    font: 300 2.4em/1 "Lato", sans-serif;
    letter-spacing: -.025em;
    margin: 0 0 .125em;
}

.price {
    line-height: 1;
    text-align: right;
}

.aboutsanpham {
    position:absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:45px;
    overflow:auto;
    padding: 0.5rem;
}
.sanpham-single-price {
    position:absolute;
    font-size: 2.4em;
    bottom: 0px;
    height: 45px;
    line-height:45px;
    left: 0px;
    right: 0px;
    padding-right: 0.5rem;
    text-align:center;
}

.sanpham-modifiers {
    width: 100px;
    text-align: right;
    border-left: 1px solid #bdc3c7;
    position: absolute;
    right:0px;
    top:0px;
    bottom:0px;
    max-height: 190px;
}

.sanpham-subtract,
.sanpham-plus,
.sanpham-qty {
    width: 33.330557%;
    background-color: transparent;
    color: #686868;
    text-align: center;
}

.sanpham-qty {
    padding: .35em .75em;
}

.sanpham-remove {
    font-size: .875em;
    background-color: #e74c3c;
    color: #ecf0f1;
    width: 100%;
    visibility: hidden;
}

.sanpham-modifiers:hover .sanpham-remove {
    visibility: visible;
}

.sanpham-remove:before {
    margin-right: .5em;
}

.sanpham-remove:hover {
    background-color: #c0392b;
}

.sanpham-total-price {
    border-top: 1px solid #bdc3c7;
    color: #95a5a6;
    font-size: 1.25em;
    padding: .5rem;

    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.shopping-cart--list-item:hover .sanpham-total-price {
    background-color: #3498db;
    color: #ecf0f1;
}

.cart-totals {
    border-top: 1px solid #bdc3c7;
    margin-bottom: 3rem;
    height: 60px;
    border-bottom: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
}

    .cart-totals ._column {
        width:calc(100% / 5 - 1px);
        line-height: 1.2;
        text-align:center;
    }

        .cart-totals ._column {
            border-right: 1px solid #bdc3c7;
        }

        .cart-totals ._column.checkout {
            float:right!important;
            text-align:center;
        }
            .cart-totals ._column.checkout div {
                margin-top:12px;
            }

.cart-totals-key {
    font-size: 1.125em;
    color: #bdc3c7;
}

.cart-totals ._column:hover .cart-totals-value,
.cart-totals ._column:hover .cart-totals-key {
    color: #333;
}

.cart-totals-value {
    font-size: 2em;
}

._btn.checkout-btn:hover {
    background-color: #2980b9;
}

._grid.cart-totals ._column {
    display:inline-block;
    height: 60px;
    float: left;
}
@media (max-width:700px) {

    .sanpham-image {
        width: calc(100% - 100px);
    }
        .sanpham-image div {
            text-align:center;
            height: 100%;
        }
        .sanpham-image img {
            height:100%;
        }
    .aboutsanpham {
        position: static!important;
        max-height: 100px;
        border-top: 1px solid #bdc3c7;
    }
    .sanpham-info {
        width: 100%;
        position: static!important; 
    }
    .sanpham-single-price {
        position: static!important;
    }

    .cart-totals {
        height:inherit;
        border:none;
    }
    ._grid.cart-totals ._column {
        display: block;
        float: none!important;
        border-bottom: 1px solid #bdc3c7;
        border-left: 1px solid #bdc3c7;
        width: 100%;
        height: 40px;
    }
    .cart-totals-key {
        line-height:40px;
        float:left;
        width: 35%;
        text-align: right;
        padding-right: 10px;
    }
    .cart-totals-value {
        line-height:40px;
        float:left;
    }
    .cart-totals ._column:first-of-type {
        border-top: 1px solid #bdc3c7;
    }
    .cart-totals ._column.checkout {
        border:none;
    }

}
@media (max-width:480px) {

    .sanpham-image {
        width:calc(100% - 20px);
    }
    .sanpham-info {
        float: left!important;
        width: calc(100% - 101px);
    }
    .sanpham-modifiers {
        position:static;
        float:right;
        border-top: 1px solid #bdc3c7;
    }
    .sanpham-total-price {
        position:static;
    }
}