<div data-options="dxView : { name: 'KhuyenMai', title:'GIFT', toolbar: false } ">
    <div data-bind="dxCommand: { title: '', id: 'overflow' , elementAttr:{class:'logoutmenu',id:'buttonlogout'}, onExecute:function(s,e){logoutmenu(s,e);}}"></div>
    <div data-options="dxContent : { targetPlaceholder: 'content' }" data-bind="dxScrollView: { }">


        
                        <div class="main">
                    <section class="shopping-cart">
                        <ol class="ui-list shopping-cart--list" id="shopping-cart--list">
                            <li class="_grid shopping-cart--list-item">
                                <div class="_column sanpham-image">
                                    <div>
                                        <img src="https://images.foody.vn/res/g79/787948/prof/s280x175/foody-upload-api-foody-mobile-hmnnn-jpg-181017103234.jpg" />
                                    </div>
                                </div>
                                <div class="_column sanpham-modifiers" data-sanpham-price="19.95">
                                    <div class="_grid">
                                        <button class="_btn _column sanpham-subtract">−</button>
                                        <div class="_column sanpham-qty">0</div>
                                        <button class="_btn _column sanpham-plus">+</button>
                                    </div>
                                    <button class="_btn entypo-trash sanpham-remove">Remove</button>
                                    <div class="price sanpham-total-price">$0.00</div>
                                </div>
                                <div class="_column sanpham-info">
                                    <div class="aboutsanpham">
                                        <h4 class="sanpham-name">Meet and greet with Bill Murray</h4>
                                        <p class="sanpham-desc">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                            , consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                            , consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                            , consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        </p>
                                    </div>
                                    <div class="price sanpham-single-price">$19.95</div>
                                </div>
                            </li>

                            <li class="_grid shopping-cart--list-item">
                                <div class="_column sanpham-image">
                                    <div>
                                        <img src="https://images.foody.vn/res/g73/723823/prof/s280x175/foody-upload-api-foody-mobile-hmmmmmmmmmm-jpg-180313160817.jpg" />
                                    </div>
                                </div>
                                <div class="_column sanpham-modifiers" data-sanpham-price="0.99">
                                    <div class="_grid">
                                        <button class="_btn _column sanpham-subtract">−</button>
                                        <div class="_column sanpham-qty">0</div>
                                        <button class="_btn _column sanpham-plus">+</button>
                                    </div>
                                    <button class="_btn entypo-trash sanpham-remove">Remove</button>
                                    <div class="price sanpham-total-price">$0.00</div>
                                </div>
                                <div class="_column sanpham-info">
                                    <div class="aboutsanpham">
                                        <h4 class="sanpham-name">Tap Water</h4>
                                        <p class="sanpham-desc">You decide</p>
                                    </div>
                                    <div class="price sanpham-single-price">$0.99</div>
                                </div>
                            </li>

                            <li class="_grid shopping-cart--list-item">
                                <div class="_column sanpham-image">
                                    <div>
                                        <img src="http://media-cache-ec2.pinimg.com/550x/c7/02/8f/c7028f260ae030ba66494ee75407192f.jpg" />
                                    </div>
                                </div>
                                <div class="_column sanpham-modifiers" data-sanpham-price="40.00">
                                    <div class="_grid">
                                        <button class="_btn _column sanpham-subtract">−</button>
                                        <div class="_column sanpham-qty">0</div>
                                        <button class="_btn _column sanpham-plus">+</button>
                                    </div>
                                    <button class="_btn entypo-trash sanpham-remove">Remove</button>
                                    <div class="price sanpham-total-price">$0.00</div>
                                </div>
                                <div class="_column sanpham-info">
                                    <div class="aboutsanpham">
                                        <h4 class="sanpham-name">Social Shower Curtain</h4>
                                        <p class="sanpham-desc">Always stay up-to-date with this very useless shower curtain!</p>
                                    </div>
                                    <div class="price sanpham-single-price">$40.00</div>
                                </div>
                            </li>

                            <li class="_grid shopping-cart--list-item">
                                <div class="_column sanpham-image">
                                    <div>
                                        <img src="https://i.dailymail.co.uk/i/pix/2012/09/16/article-2204256-15053801000005DC-304_634x524.jpg" />
                                    </div>
                                </div>
                                <div class="_column sanpham-modifiers" data-sanpham-price="12.35">
                                    <div class="_grid">
                                        <button class="_btn _column sanpham-subtract">−</button>
                                        <div class="_column sanpham-qty">0</div>
                                        <button class="_btn _column sanpham-plus">+</button>
                                    </div>
                                    <button class="_btn entypo-trash sanpham-remove">Remove</button>
                                    <div class="price sanpham-total-price">$0.00</div>
                                </div>
                                <div class="_column sanpham-info">
                                    <div class="aboutsanpham">
                                        <h4 class="sanpham-name">Self stirring mug</h4>
                                        <p class="sanpham-desc">Don't get tired!</p>
                                    </div>
                                    <div class="price sanpham-single-price">$12.35</div>
                                </div>
                            </li>
                        </ol>

                        <footer class="_grid cart-totals">
                            <div class="_column subtotal" id="subtotalCtr">
                                <div class="cart-totals-key">Subtotal</div>
                                <div class="cart-totals-value">$0.00</div>
                            </div>
                            <div class="_column shipping" id="shippingCtr">
                                <div class="cart-totals-key">Shipping</div>
                                <div class="cart-totals-value">$0.00</div>
                            </div>
                            <div class="_column taxes" id="taxesCtr">
                                <div class="cart-totals-key">Taxes (6%)</div>
                                <div class="cart-totals-value">$0.00</div>
                            </div>
                            <div class="_column total" id="totalCtr">
                                <div class="cart-totals-key">Total</div>
                                <div class="cart-totals-value">$0.00</div>
                            </div>
                            <div class="_column checkout">
                                <div class="_btn checkout-btn entypo-forward">Checkout</div>
                            </div>
                        </footer>

                    </section>
                </div>
            </div>
        </div>
